.card-items {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  border: solid;
  border-color: black;
  background-color: rgb(146, 143, 145);
  border-radius: 5px;
  padding: 5px;
  margin-right: 8px;
  margin-top: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

h3,h1,h2 {
  font-family: 'Courier New', Courier, monospace;
}